<template>
  <div class="{{ class }}" data-template-type="single-pick">
    <SinglePickButtonGroup />
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue'
import SinglePickButtonGroup from '@/components/common/SinglePickButtonGroup'
import { {{ componentName }}Props } from './typing'
import { use{{ componentName }} } from './hook'

export default defineComponent({
  name: '{{ componentName }}',
  components: {
    SinglePickButtonGroup,
  },
  props: {
    user: {
      type: Object as PropType<{{ componentName }}Props['user']>,
      required: false,
    },
  },
  setup(props) {
    const { selectedValue } = use{{ componentName }}(props as {{ componentName }}Props)

    return {
      selectedValue,
    }
  },
})
</script>

<style lang="scss" scoped>
@import './index.scss';
</style>
