<template>
  <div class="{{ class }}">
    <SinglePickButtonGroup />
  </div>
</template>

<script setup lang="ts">
import SinglePickButtonGroup from '@/components/common/SinglePickButtonGroup'
import { {{ componentName }}Props } from './typing'
import { use{{ componentName }} } from './hook'

defineOptions({
  name: '{{ componentName }}',
})

const props = defineProps<{{ componentName }}Props>()

const { selectedValue } = use{{ componentName }}(props)
</script>

<style lang="scss" scoped>
@import './index.scss';
</style>
